networks:
  vikunja:
  ssl_orga:
    external: true

volumes:
  vikunja_db:
  vikunja_data:
  shlink_data:

services:
  vikunja:
    image: vikunja/vikunja:unstable
    container_name: vikunja
    restart: unless-stopped
    depends_on:
      vikunja_db:
        condition: service_healthy
    environment:
      VIKUNJA_DATABASE_HOST: ${VIKUNJA_DATABASE_HOST}
      VIKUNJA_DATABASE_PASSWORD: ${MYSQL_PASSWORD}
      VIKUNJA_DATABASE_TYPE: ${VIKUNJA_DATABASE_TYPE}
      VIKUNJA_DATABASE_USER: ${MYSQL_USER}
      VIKUNJA_DATABASE_DATABASE: ${MYSQL_DATABASE}
      VIKUNJA_SERVICE_JWTSECRET: ${VIKUNJA_SERVICE_JWTSECRET}
      VIKUNJA_SERVICE_PUBLICURL: https://${VIRTUAL_VIKUNJA_API}
      VIKUNJA_SERVICE_ENABLEREGISTRATION: false

      VIKUNJA_MAILER_ENABLED: ${VIKUNJA_MAILER_ENABLED}
      VIKUNJA_SERVICE_ENABLEEMAILREMINDERS: true
      VIKUNJA_MAILER_HOST: ${VIKUNJA_MAILER_HOST}
      VIKUNJA_MAILER_PORT: ${VIKUNJA_MAILER_PORT}
      VIKUNJA_MAILER_AUTHTYPE: ${VIKUNJA_MAILER_AUTHTYPE}
      VIKUNJA_MAILER_USERNAME: ${VIKUNJA_MAILER_USERNAME}
      VIKUNJA_MAILER_PASSWORD: ${VIKUNJA_MAILER_PASSWORD}
      VIKUNJA_MAILER_FROMEMAIL: ${VIKUNJA_MAILER_FROMEMAIL}

      VIRTUAL_HOST: ${VIRTUAL_VIKUNJA_HOST}
      VIRTUAL_PORT: ${VIRTUAL_VIKUNJA_PORT}
      LETSENCRYPT_HOST: ${VIRTUAL_VIKUNJA_HOST}
    networks:
      - ssl_orga
      - vikunja

  vikunja_db:
    image: mariadb:10
    container_name: vikunja_db
    restart: unless-stopped
    volumes:
      - vikunja_db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks:
      - vikunja
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u $$MYSQL_USER --password=$$MYSQL_PASSWORD"]
      interval: 2s
      start_period: 30s

  shlink:
    image: shlinkio/shlink:stable-roadrunner
    container_name: shlink
    restart: unless-stopped
    volumes:
      - shlink_data:/etc/shlink
    environment:
      DEFAULT_DOMAIN: ${VIRTUAL_SHLINK_HOST}
      IS_HTTPS_ENABLED: "true"
      GEOLITE_LICENSE_KEY: ${SHLINK_GEO_API}
      VIRTUAL_HOST: ${VIRTUAL_SHLINK_HOST}
      VIRTUAL_PORT: ${VIRTUAL_SHLINK_PORT}
      LETSENCRYPT_HOST: ${VIRTUAL_SHLINK_HOST}
    networks:
      - ssl_orga

  shlink_web:
    image: shlinkio/shlink-web-client:4
    container_name: shlink_web
    restart: no
    environment:
      VIRTUAL_HOST: ${VIRTUAL_SHLINKWEB_HOST}
      VIRTUAL_PORT: ${VIRTUAL_SHLINK_PORT}
      LETSENCRYPT_HOST: ${VIRTUAL_SHLINKWEB_HOST}
    networks:
      - ssl_orga
